@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani&display=swap');

hr {

  border: 0;
  border-top: 1px solid #c9c7c7;
}

.bg-acqua {
  background: #B8F2E6;
}

 .mt-10 {
   margin-top: 10px;
 }